@{
    Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Appointment

<div id="horizontalMenu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Show all stylists","Index", "Stylists")</li>   
        <li>@Html.ActionLink("Back to stylist", "Details", "Stylists", new {id = Model.StylistId})</li>
        <li>@Html.ActionLink("Back to appointments", "Index", new {id = Model.StylistId})</li>
        <li>@Html.ActionLink("Edit appointment", "Edit", new {id = Model.AppointmentId})</li>
        <li>@Html.ActionLink("Delete appointment", "Delete", new {id = Model.AppointmentId})</li>
    </ul>
</div>

<div class="container contentBox">
    <h2>Details of appointment:</h2>
    <h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)</h3>
    <h3>@Html.DisplayNameFor(model => model.Client): @Html.DisplayFor(model => model.Client.Name)</h3>
    <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
    <h3>@Html.DisplayNameFor(model => model.Time): @Html.DisplayFor(model => model.Time)</h3>
</div>