@{
    Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<div id="horizontalMenu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Show all stylists","Index", "Stylists")</li>   
        <li>@Html.ActionLink("Back to stylist", "Details", "Stylists", new {id = Model.StylistId})</li>
        <li>@Html.ActionLink("Back to appointments", "Index", new {id = Model.StylistId})</li>
        <li>@Html.ActionLink("Back to appointment", "Details", new {id = Model.AppointmentId})</li>
    </ul>
</div>

<div class="container contentBox">

    @if(ViewBag.Failed)
    {
        <h3>There is a time conflict for this stylist. Try to choose another time.</h3>
        <hr/>
    }
    <h2>Add a new appointment for @Model.Stylist.Name</h2>
    <hr/>

    <h2>Edit appointment</h2>
    <hr/>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.AppointmentId)
        <div class="form-group">
            @Html.LabelFor(model => model.Stylist) [@Model.Stylist.Name]
            @Html.DropDownList("StylistId")
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client) [@Model.Client.Name]
            @Html.DropDownList("ClientId")
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control multi-line" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Time)
            @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <input type="submit" value="Save" class="btn btn-success" />
    }
</div>

